* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #f1f3ff;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.font-bold {
  font-weight: 600;
}

.btn-green {
  background-color: #5cb85f;
  color: white !important;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 8px 12px 8px 12px !important;
}

.h-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.glass {
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
}

.flat-list {
  padding-left: 0px !important;
  list-style: none;
}
.list-text {
  font-size: 14px !important;
  padding-left: 1rem;
}

#img_car {
  background: url(./images/bg.png) bottom/contain no-repeat;
}
